<h1>Password Generator</h1>

<div>
  <label for="">Enter Length</label>
  <input type="text" name="" id="" (input)="keyedInput($event)">
</div>

<div>
  <label for="">
    <input type="checkbox" name="" id="" (change)="selectLetters()">
    Use letters
  </label>

</div>
<div>
  <label for="">
    <input type="checkbox" name="" id="" (change)="selectNumbers()">
    Use Numbers
  </label>
</div>
<div>
  <label for="">
    <input type="checkbox" name="" id="" (change)="selectSymbols()">
    Use Symbols
  </label>
</div>
<div>
  <button type="button" (click)="submit()" [disabled]="disableButton">Generate</button>

</div>

<div *ngIf="password">
  <label for="">Your password</label>
  <input type="text" name="" id="" [value]="password" readonly>
</div>
